html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #E2CBAB;
}

.card-common {
    background-color: #AB7345;
    color: white;
}

.brand-logo {
    font-family: 'Kaushan Script', cursive !important;
}

::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

::-moz-placeholder {
    color: white;
    text-align: center;
}