html, body {
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.toolbar{
    flex: 1 100%;
    order: 1;
}

.logo {
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.loginForm {
    margin: 0 !important;
}

.loginModalHeader {
    color: black;
}

.input {
    color: black;
}

.loader{
    right: 13px;
    bottom: 3px;
}
