html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #E2CBAB;
}

thead {
    border-bottom-color: #AB7345;
}

th {
    color: #AB7345;
}

.card-common {
    background-color: #AB7345;
    color: white;
    cursor: pointer;
}

.brand-logo {
    font-family: 'Pacifico', cursive !important;
}

::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

::-moz-placeholder {
    color: white;
    text-align: center;
}