html, body {
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.toolbar{
    flex: 1 100%;
    order: 1;
}
